# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*

# build & testing
dist/
coverage/
.next/
out/
build/
*.tsbuildinfo

# env files (contains secrets)
.env
.env.local
.env.*.local

# IDEs & System
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
thumbs.db

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log
