DATABASE_URL="postgresql://postgres:PASSWORD@HOST:PORT/DATABASE"
JWT_SECRET="your-jwt-secret"
JWT_EXPIRES_IN="1d"
PORT=3001
REDIS_URL="redis://localhost:6379"
CLOUDFLARE_R2_ACCOUNT_ID=""
CLOUDFLARE_R2_ACCESS_KEY_ID=""
CLOUDFLARE_R2_SECRET_ACCESS_KEY=""
CLOUDFLARE_R2_BUCKET_NAME=""
APPSHEET_WA_API_KEY=""
GOOGLE_MAPS_API_KEY=""
